*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 27.5rem;
    margin-top: 5rem;
}
.main{
    width: 100%;
}
.img1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 0;
}
.img1 img{
    width: 25%;
    height: 15rem;
    margin: 0 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 2px 2px 2px 2px blue;
}
.img1 img:hover{
    box-shadow: 2.5px 1.5px 20px 2.5px rgb(221, 58, 58);
    background-color: aqua;
}
.img2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 0;
}
.img2 img{
    width: 25%;
    height: 15rem;
    margin: 0 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 2px 2px 2px 2px blue;
}
.img2 img:hover{
    box-shadow: 2.5px 1.5px 20px 2.5px rgb(221, 58, 58);
    background-color: aqua;
}