*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin:  0 27.5rem;
}
.main{
    width: 100%;
    height: 700px;
}
.products{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    list-style: none;
    box-sizing: border-box;
}
.products li{
    width: 23%;
    border:  solid 1px gray;
    border-radius: 10px;
    height: 240px;
    margin: 10px 3px;
    position: relative;
    box-shadow: 2px 1px 5px gray;
}
.products li .title_prd{
    color: blue;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 6;
    font-size: 1.2rem;
  }

.products li img{
    height: 200px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.products .price{
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 30px;
    font-weight: 900;
    color: orange;
    margin-left: 1rem;
    font-size: 2rem;
}
.new {
    position: absolute;
    z-index: 8;
    background-color: rgb(246, 190, 87, 0.8);
    width: 4rem;
    display: flex;
    justify-content: center;
    right: -10.5px;
    transform: rotate(50deg);
    border-top: 1px black solid;
    border-radius: 237px 283px 0px 16px;
    height: 1rem;
}
.img_buttom_right{
    position: absolute;
    bottom: 1px;
    right: 5px;
}
.img1{
    background-image: url(./imgbai1/btcbl.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    z-index: 11;
}
.img2{
    background-image: url(./imgbai1/btcyl.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    z-index: 11;
}
.img3{
    background-image: url(./imgbai1/btcbl.png);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    z-index: 11;
}

