*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    font-size: 62.5%;
}
/* begin header */
header{
    
    height: 30rem;
}
.header{
    height: 25rem;
    display: block;
}
.banner{
    height: 100%;
    width: 100%;
    position: relative;
}
.banner img{
    max-height: 100%;
    min-width: 100%;
}
.sub_banner{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    width: 30rem;
    background-image: linear-gradient(#ad2210, rgba(113, 113, 51, 0.441),rgba(219, 244, 79, 0.608));
    border-bottom-left-radius:90px;
}
.sub_banner li{
    line-height: 3rem;
    padding: 0 1.3rem;
    display: block;
    font-size: 1.2rem;
    list-style: none;  
}
.sub_banner li a{
    text-decoration: none;
    color: white;
    display: block;
   
}
.sub_banner li:hover a{
    color: black;
    font-weight: 590;
    transition: 0.4s linear;
    
}

.sub_header_main {
    height: 5rem;
    width: 100%;
    display: flex;
    background-color: rgb(226, 96, 79);
    border-top: 1px rgb(228, 213, 213) solid ;
    border-bottom: 1px rgb(228, 213, 213) solid ;
}

.nav_header_left{
width: 70%;
display: flex;
line-height: 5rem;
padding-left: 2rem;
list-style: none;
font-size: 1.2rem;
}
.nav_header_left li a{
    text-decoration: none;
    color: white;
    padding: 0 1.2rem;
    display: block;
}
.nav_header_left li:hover a{
    background-color: aliceblue;
    color: orangered;
    transition: 0.4s linear;
}

.nav_header_right{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    line-height: 5rem;
    padding-right: 2rem;
    list-style: none;
    font-size: 1.2rem;
    color: white;
}
.nav_header_right li a{
    text-decoration: none;
    padding: 0 1.2rem;
    color: white;
     display: block;
}
.nav_header_right li:hover a{
    background-color: aliceblue;
    color: orangered;
    transition: 0.4s linear;
}
/* the end header */

/* begin products */
.products{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
}
/* begin products_inf_lef */
.products_inf_lef{
    width: 70%;
    height: 25rem;
    display: flex;
    justify-content: space-between;
}
.product_inf_left_css{
    width: 100%;
    display: flex;
}
.cicles{
  border: 1px solid rgb(232, 192, 192);
  height: 28rem;
  margin-left: 1rem;
  border-radius: 10px;
  width: 33.3%;
}

.img_cicles{
    height: 22rem;
    width: 100%;
    position: relative;
}
.title_specials_cicles{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: relative;
    top: 0.5rem;
    z-index: 3;
}
.title_specials_cicles p{
    width: 7.43rem;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1.14rem;
    left: 20rem;
    transform: rotate(40deg);
    background-color: rgb(211, 179, 121);
    border-top-left-radius: 9rem;
    border-top-right-radius: 9rem;
}

.img_cicles img{
    height: 100%;
    width: 100%;
}
.price_icons{
    position: relative;
    display: flex;
}
.price_icons_left{
width: 50%;
margin-top:0.5rem ;
margin-left: 0.5rem;
display: block;
}
.price_icons_left del{
    font-size: 1.2rem;
    color: rgb(235, 207, 207);
    font-weight: 600;
    margin-left: 0.5rem;
}
.price_icons_left p{
    width: 35%;
    font-size: 1.4rem;
    color:rgb(229, 196, 196);
    font-weight: 800;
    box-shadow: 1px 100px rgb(245, 243, 243);
}
.price_icons_right{
position: relative;
}
.price_icons_right img{
    display: block;
    margin-left: 10rem;
    padding: 0.2rem;
}
.product_inf_left_css .cicles:hover{
    box-shadow: 2px 2px 2px 2px blue;
    border: 1px blue solid;
    transition: 0.3s linear;
}
/* the end products_inf_lef */



/* begin  products_inf_right*/
.products_inf_right{
    width: 30%;
    padding-left: 1rem;
    box-sizing: border-box;
}
.info_up{
    border: 1px solid rgb(255, 200, 200);
    border-radius: 10px;
    height: 8rem;
    margin-right: 1rem;
    display: flex;
}
.img_left{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_left img{
height: 4rem;
width: 4rem;
position: relative;
}
.img_left .imghover{
    position: absolute;
    height: 4rem;
    width: 4rem;
    display: none;
}
.img_left:hover .imghover{
display: block;
transition:  0.9s linear;
}
.info_up_right{
    display: block;
    height: 8rem;
    padding-top: 1.8rem;
}
.info_up_right p{
    font-size: 1.4rem;
    color: orangered;
}
.info_up_right p:hover{
    color: rgb(55, 134, 203);
    transition: 0.2s linear;
    font-weight: 700;
}
/* the end products_inf_right */


/* begin  inf_down*/
.inf_down{
    margin-right: 1rem;
    margin-top: 4rem;
    font-size: 1.2rem;
}
.nav{
    height: 100%;   
    box-shadow: 0 0 2px rgb(241, 213, 213, 0.4);
    
}
.nav li{
    border-bottom: dotted 0.1px rgb(220, 17, 17);
    border-top: solid 0.1px rgb(220, 17, 17, 0.1);
    border-right: solid 0.1px rgb(220, 17, 17, 0.1);
    border-left: solid 0.1px rgb(220, 17, 17, 0.1);
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    list-style: none;
}
.nav li a{
    color: orangered;
    padding-left: 1.9rem;
    background-image: url(./imgbai1/btcbl.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}
.nav li a b{
    font-size: 1.4rem;
}
.nav li:hover {
    background-color: orange;
    transition: 0.1s ease-in-out;
    border-bottom:1px rgb(123, 74, 74) dotted ;
}
.nav li:hover a{
    color: white;
    padding-left: 1.9rem;
    background-image: url(./imgbai1/btcyl.png);
    background-repeat: no-repeat;
    margin-left: 2rem;
    transition: 0.3s ease-in-out;
}
/* the end inf_down */
/* the end products */













